/* colors */
$fuscous-gray:	   #57534A;
$persian-green:    #00B39B;
$bali-hai:		   #90ADB5;
$lightning-yellow: #F6AE2D;
$cadmium-orange:   #F6892D;   
$charleston-green:     #0b2027; //charleston-green

$white:			   #FFFFFF;
$silver:		   #DDDDDD;
$malibu:           #00B39B;
$cultured:         #F3F4F7;

/* Breakpoints */
$breakpoint-mobile:24em;//320px;
$breakpoint-tabletPortrait:46.8em;//768px;
$breakpoint-desktop:50em; // 992px;
$breakpoint-desktopL:70em;

/* fonts */
$pacifico: 'Pacifico', 'cursive';
$logo-text: 'Pacifico', 'cursive';
$body-text: 'Poppins Light', 'sans-serif';

/* Sizes */
$max-width: '1050px';
$max-width-centered: 650px;
