/* colors */
$fuscous-gray:	   #57534A;
$persian-green:    #00B39B;
$bali-hai:		   #90ADB5;
$lightning-yellow: #F9C11E;
$shuttle-gray:     #53666E;
$white:			   #FFF;
$firebrick:		   #B22222;
$silver:		   #DDDDDD;

/* Breakpoints */
$small-screen:24em;//320px;
$medium-screen:46.8em;//768px;
$large-screen:50em; // 992px;
$xl-large-screen:73em;

/* fonts */
$museo-sans: Museo-Sans,sans-serif;
$pacifico: 'Pacifico', cursive;